#offline directory in clusters and base_machine are copies
cluster/offline/
base_machine/offline/
#prepare offline has a set of initialised directory
#except repos images and openshift-ansible which are 
#downloaded during prepare_offline
prepare_offline/offline/repos/
prepare_offline/offline/images/*.tar
prepare_offline/offline/conf_to_copy/openshift-ansible/
prepare_offline/offline/conf_to_copy/certs/
#don't add the extra rpms for the lab
cluster/lab/03_glusterfs/rpms/


#ignore oc_base.box
cluster/oc_base.box
base_machine/oc_base.box

#ignore vdi
base_machine/sdb.vdi

#ignore the ssh config file to connect in mobaxterm
cluster/.ssh/
base_machine/.ssh/
prepare_offline/.ssh/

#ignore vagrant internal conf
cluster/.vagrant/
base_machine/.vagrant/
prepare_offline/.vagrant/

#ignore the construction inside the labs
cluster/lab/05_builder/git-source/
cluster/lab/05_builder/disconnected-content/
cluster/lab/05_builder/ssh_keys/




