#offline directory in clusters and base_machine are recopy
cluster/offline/
base_machine/offline/
#prepare offline has a set of initialised directory
#except repos images and openshift-ansible which are 
#downloaded during prepare_offline
prepare_offline/offline/repos/
prepare_offline/offline/images/*.tar
prepare_offline/offline/conf_to_copy/openshift-ansible/

#ignore oc_base.box
cluster/oc_base.box
base_machine/oc_base.box

#ignore vdi
base_machine/sdb.vdi

#ignore the ssh config file to connect in mobaxterm
cluster/ssh*
base_machine/ssh*
prepare_offline/ssh*

#ignore vagrant internal conf
cluster/.vagrant/
base_machine/.vagrant/
prepare_offline/.vagrant/




